@import url("https://fakem1ner.github.io/SoftoUtility/SoftoForTypesetter/null.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900");
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: #444;
  font-family: "Montserrat", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
}
.form * {
  margin: 2px 0;
  border-radius: 8px;
}
.form__install-key {
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 0.5647058824);
  padding: 8px;
  font-size: 18px;
  width: 320px;
  text-align: center;
}
.form__install-key:hover {
  background-color: #ffffff;
}
.form__install-key::-moz-placeholder {
  text-align: center;
}
.form__install-key:-ms-input-placeholder {
  text-align: center;
}
.form__install-key::placeholder {
  text-align: center;
}
.form__button {
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 0.5647058824);
  padding: 12px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.form__button:hover {
  background-color: #ffffff;
}

.verificate-key {
  display: none;
  transition: all 0.8s ease;
  font-size: 18px;
  text-align: center;
  line-height: 120%;
  margin: 15px 0;
  background-color: rgba(255, 255, 255, 0.062745098);
  padding: 12px;
  border-radius: 8px;
  cursor: help;
}
.verificate-key:hover {
  background-color: rgba(255, 255, 255, 0.5647058824);
}